code.test {
            display: block;
            position: relative;
            color: white;
            padding: 5px 10px;
            transition: all 1s ease;
        }

        code.test li {
            font-family: 'Courier New', Courier, monospace;
            font-size: 0.7rem;
            background: rgb(177, 1, 1);
            padding: 4px 12px;
            opacity: 0;
            border-bottom: 1px solid white;
        }

        @keyframes error {
            0% {
                height: 0;
                opacity: 0;
            }

            100% {
                opacity: 1;
                height: 20px;
            }
        }