/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

body {
  height: 100%;
}

nav img.brand-logo {
  height: 4rem;
}

nav ul#nav-mobile li a {
  color: #fff
}

nav ul#nav-mobile img {
  display: block;
  text-align: center;
  margin: auto;
  padding: 1em;
  padding-top: 1.2em;
  height: 6em;
}

.section:first-child {
  min-height: 30em
}

#index-banner h5 {
  line-height: 3rem
}

#icon-status h5 {
  font-size: 1.5rem
}

#player_name {
  font-weight: 480;
}

[km-data=null] {
  cursor: not-allowed;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 0.1em;
  color: #a0a0a0
}

.keyboard-focused {
  background: transparent;
}

span.badge.new {
  font-weight: 700 !important;
}

.xent {
  text-align: center;
}

.dire {
  color: red
}

.radiant {
  color: green
}


#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.98);
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: no-drop;
  transition: all 0.8s ease;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

#overlay.visbe {
  animation-name: comin;
}

#overlay.invis {
  animation-name: comout;
}

@keyframes comin {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    height: 100%;
    opacity: 1;
    display: block;
  }
}

@keyframes comout {
  0% {
    opacity: 1;
    height: 100%;
  }

  100% {
    height: 0;
    opacity: 0;
    display: none;
  }
}

#notice {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}