<footer class="page-footer blue darken-2">
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="javascript:void(0)">Link 3</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright blue darken-3">
        <div class="container">
            Powered by <a class="blue-text text-lighten-3" href="javascript:void(0)">Ethereal</a> <kbd>&</kbd>
            <a class="blue-text text-lighten-3" href="javascript:void(0)">Myanma Saungkyo Co., Ltd.</a>
        </div>
    </div>
</footer>