<nav class="blue darken-3" role="navigation">

    <a href="/" class="brand-logo">
        <img class="brand-logo" src="/assets/images/logo-white-adjTransparent.png" height="58px">
    </a>
    <a href="javascript:void(0);" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
        <li><a href="/index.html">မူလစာမ်က္ႏွာ</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav blue darken-4">
        <li class="logo">
            <img src="/assets/images/logo-white-adjTransparent.png">
        </li>

        <li><a href="/index.html">မူလစာမ်က္ႏွာ</a></li>
    </ul>

</nav>